<footer class="mt-5 bg-primary p-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="text-white">Kontakan App</p>
      </div>
    </div>
  </div>
</footer>