<%= form_with(model: contact, local: false) do |form| %>
  <div class="modal-body">
    <div id="errorArea"></div>

    <div class="form-group mt-3">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group mt-3">
      <%= form.label :email %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group mt-3">
      <%= form.label :nophone %>
      <%= form.text_field :nophone, class: 'form-control' %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-lg close-modal" data-bs-dismiss="modal">Close</button>    
    <%= form.submit class: "btn btn-primary btn-lg" %>
  </div>
<% end %>