<div class="modal-body">
  <div class="col-lg-12">

    <p>
    <strong>Here <%= @contact.name %> Contact Information</strong>
    </p>

    <p>
      <strong>Name:</strong>
      <%= contact.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= contact.email %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= contact.nophone %>
    </p>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary btn-lg close-modal" data-bs-dismiss="modal">Close</button>
</div>