<%# $("#newContactForm").html("<%= escape_javascript render('form', contact: @contact)%>"); %>

$('#newContactModal #newContactForm').html('<%= j render partial: "form", locals: { contact: @contact } %>');

$('#newContactModal #newContactForm').html("asdf");
