<% if @contact.errors.any? %>
  $("#errorArea").html("<%= escape_javascript render('error', contact: @contact)%>")
<% else %>
  $("#contactRow_<%= @contact.id %>").replaceWith("<%= escape_javascript render('contact_row', contact: @contact)%>");
  $(".close-modal").click();
<% end %>